.page{
    display: flex;
    min-height: 90vh;
}

.left{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    align-items: center;
    text-align: center;
    flex: 1.5;

    margin-top: 30px;
    margin-right: 100px;
}

.bd{
    background: linear-gradient(to right, rgb(255, 102, 0),rgb(246, 0, 99), #ae2bf4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.divider {
  width: 3px;
  height: 100%;
  background-color: #ddd;
  border: none;
}

.right{
    display: flex;
    gap: 20px;
    flex: 1.1;
}

.formblock{
    display: flex;
    flex-direction: column;
    
    font-family: sans-serif;
    font-weight: bold;
    color: #3f3f3f;

    justify-content: center;

    margin-bottom: 50px;
    margin-left: 50px;

}

.input{
    padding: 18px;
    width: 530px;

    outline:none;
    box-sizing: border-box;

    border-radius: 15px;
    border: 1px solid rgb(209, 209, 209);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 20px;

    margin-bottom: 20px;

}

input::placeholder{
    font-size: 15px;
    font-weight: bold;
    color: rgb(134, 133, 139);
}

.button{
    padding: 14px;
    width: 530px;

    box-sizing: border-box;

    border-radius: 30px;
    border: 1px solid rgb(209, 209, 209);
    background-color: rgba(43, 134, 252, 0.668);
    color: aliceblue;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 20px;

    margin-bottom: 20px;
}

.frgt{
    background-color: transparent;
    color: rgba(0, 0, 0, 0.668);
    border: none;

    transition: background-color 0.2s ease;
}

.frgt:hover{
    background-color: rgb(240, 240, 240);
}

.other{
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 40px;
    margin-right: 50px
}

.oth{
    background-color: inherit;
    color: black;
}

span{
    margin-right: 10px;
}

.create{
    color: rgba(0, 110, 255, 0.668);
    border: 1px solid;
    border-color: rgba(0, 110, 255, 0.668);
    background-color: white;
}

.meta{
    text-align: center;
}




